<% if(typeof success !== 'undefined' && success && success.length){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>


<% if(typeof failure !== 'undefined' && failure && failure.length){ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= failure %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(typeof update !== 'undefined' && update && update.length){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= update %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
